*{
    padding: 0;
    margin: 0;
    
}
body{
    background-color: rgb(226, 228, 228);
}
h2{
    color:rgb(31, 37, 37)
}
#navbar{
    height: 60px;
    position: fixed;
    width: 100%;

    background-color: black;
    color:aliceblue;
    border: 2px solid black;
    border-radius: 10px;
    padding-top: 15px;
    
}
b{
    margin-right: 50%;
    margin-left: 20px;
    
}
a{
    margin-left:60px;
    text-decoration: none;
    color:white;
    
    
}
a:hover{
    font-size: 24px;
    color:rgb(160, 160, 106)
}
#name{
    text-align: center;
    
}
#about{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    line-height: 50px;
}
#hotel-management{
    width:300px;
    height:300px;
    display:inline-block;
    margin-left: 10px;
}
#my-portfolio{
    width:300px;
    height:300px;
    display:inline-block;
     margin-left: 20px;
}
#submit{
    background-color: black;
    color:white;
    border-radius:10px;
}
#submit:hover{
    font-size: 24px;
    color:yellowgreen;
    box-shadow: 1px -8px 16px rgba(91, 163, 13, 0.5);
}

